OSINTLAB_PUBLIC_MODE=true
OSINTLAB_ALLOWED_ORIGINS=https://codecatcoding.com,https://www.codecatcoding.com
OSINTLAB_RATE_LIMIT_REQUESTS=20
OSINTLAB_RATE_LIMIT_WINDOW=60
OSINTLAB_API_TOKEN=change-this-only-if-you-use-private-api
